.MuiPaper-root{
    padding: 15px;
}
.makeStyles-button-333 {
    margin-top: 14px !important;
}
.MuiButton-containedPrimary {
    background-color: #1976d2 !important;
}
.MuiButton-containedPrimary:hover {
    background-color: #303f9f !important;
}