.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded, .MuiExpansionPanelDetails-root{
    position: relative;
    max-height: 400px;
    overflow: auto;   
}
.titleBar{
    margin-bottom: 10px;
}