.MuiAppBar-colorPrimary, .MuiBox-root-98{
    padding: 0 !important;
}
a:hover.MuiTab-fullWidth{
    color:#fff !important;
    opacity: 0.7;
    text-decoration: none;
}
.MuiAppBar-colorPrimary {
    background-color: #033095 !important;
}
a:hover.MuiTab-fullWidth{
    color: #A5DFE1;
    background: #54667a;
    text-decoration: none;
}

.table {
    width: auto;
    padding-top: 30px;
  }
  
  .rowAlign {
    display: flex;
    align-items: center;
  }
  
  .footerControls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .sortIcon {
    cursor: pointer;
    path {
      fill: rgb(158, 158, 158) !important;
      pointer-events: none;
    }
  }